---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		
<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about/">About</a></li>
		<li><a href="/blog">Blog</a></li>
	</ul>
</nav>

		<h1>My Astro Learning Blog</h1>
		<p>This is going to be an Astro blog at some point.</p>

		<h2 id="posts">Posts</h2>
		<nav aria-labelledby="posts">
			<ul>
				<li><a href="/posts/post-1">Post 1</a></li>
				<li><a href="/posts/post-2">Post 2</a></li>
				<li><a href="/posts/post-3">Post 3</a></li>
			</ul>
		</nav>
	</body>
</html>
